* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-color: #2e272e;
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #383257;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #e5e0c8;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: #1d9c47;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

#botao-cancelar {
    background-color: red;
}

ul {
    display: block;
    text-align: center;
}

ul li {
    list-style: none;
    margin-top: 20px;
}

ul li p {
    font-size: 30px;
    cursor: pointer;
}

.riscado{
    text-decoration: line-through;
}